.healthConditionOverviewContent {
    padding-top: 10px;
    margin-left: 20px;
    display: flex;
    gap: 70px;
    flex-wrap: wrap;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}